<%= render(
  MurderSheWroteWeb.EpisodesView,
  "filters.html",
  q: @q,
  seasons: @seasons,
  selected_seasons: @selected_seasons,
  loading: @loading
) %>

<%= render(
  MurderSheWroteWeb.EpisodesView,
  "list.html",
  filtered: @filtered,
  killer: @killer,
  socket: @socket
) %>
